.container{
	max-width: 1030px;
	margin: 0 auto;
}

.header-wrapper{
	padding: 1em 0;
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.grid{
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
	.column{
		flex: 1;
	}
}

.loader{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 16em;
	img{
		width: 12em;
	}
}

@media screen and (max-width: 700px) {
	.grid{
		flex-wrap: wrap;
		.column{
			width: 100%;
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
			&:last-child{
				border-bottom: none;
			}
		}
	}
}