@font-face {
  font-family: "rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-regular.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 500;
  src: url("../fonts/cinetype/gt-cinetype-bold.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 400;
  src: url("../fonts/cinetype/gt-cinetype-italic.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 400;
  src: url("../fonts/cinetype/gt-cinetype-regular.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 300;
  src: url("../fonts/cinetype/gt-cinetype-light.woff"); }
