@font-face {
  font-family: "rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-regular.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 500;
  src: url("../fonts/cinetype/gt-cinetype-bold.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 400;
  src: url("../fonts/cinetype/gt-cinetype-italic.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 400;
  src: url("../fonts/cinetype/gt-cinetype-regular.woff"); }

@font-face {
  font-family: "cinetype";
  font-weight: 300;
  src: url("../fonts/cinetype/gt-cinetype-light.woff"); }

.container {
  max-width: 1030px;
  margin: 0 auto; }

.header-wrapper {
  padding: 1em 0;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase; }

.grid {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between; }
  .grid .column {
    flex: 1; }

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16em; }
  .loader img {
    width: 12em; }

@media screen and (max-width: 700px) {
  .grid {
    flex-wrap: wrap; }
    .grid .column {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid #eee; }
      .grid .column:last-child {
        border-bottom: none; } }

.navbar-wrapper {
  position: fixed;
  width: 100%;
  color: #FFFFFF;
  background-color: #1e2c48;
  padding: 1em;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2); }
  .navbar-wrapper .container .logo-wrapper {
    width: 165px;
    position: relative;
    display: block; }
    .navbar-wrapper .container .logo-wrapper img.logo {
      width: 100%; }

.graphs-container-wrapper {
  padding: 5em 1em 2em; }
  .graphs-container-wrapper .transactions-wrapper {
    padding: 1em; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #F6F7FB;
  font-family: rubik, sans-serif; }
